venv
*.pyc
*.pyo
data
*.egg-info
.installed.cfg
bin
develop-eggs
eggs
parts
syncdb
exdata
*.sublime-*
old
bootstrap.py
*.log
.ropeproject
TODO
.coverage
htmlcov
build
dist
commit.rst
commit_msg.rst
commits.rst
